<!-- begin::Aside
-->
<div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
  <!-- begin::Brand
  -->
  <div class="brand flex-column-auto justify-content-center" id="kt_brand" style="height: 80px;">
    <!-- begin::Logo
    -->
    <%= link_to "/", class: "brand-logo" do %>
      <%= image_tag asset_path('admin/sidebar/side_bar_logo.png'),style: 'width:45px;', class:"mr-5"%>

    <% end %>
    <!-- end::Logo
    -->
    <!-- begin::Toggle
    -->
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle" style="pointer-events: none;">
      <%= image_tag asset_path('admin/sidebar/side_bar_logo.png'),style: 'width:45px;'%>
    </button>
    <!-- end::Toolbar
    -->
  </div>
  <!-- end::Brand
  -->
  <!-- begin::Aside Menu
  -->
  <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
    <!-- begin::Menu Container
    -->
    <div class="aside-menu my-4" data-menu-dropdown-timeout="500" data-menu-scroll="1" data-menu-vertical="1" id="kt_aside_menu">
      <!-- begin::Menu Nav
      -->
      <ul class="menu-nav">
        <li aria-haspopup="true" class="menu-item mb-4 <%= sidebar_class('users', ['index']) %>">
          <%= link_to "", class: "menu-link" do %>
            <span class="svg-icon menu-icon">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-friends" class="svg-inline--fa fa-user-friends fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C51.6 288 0 339.6 0 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zM480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm48 32h-3.8c-13.9 4.8-28.6 8-44.2 8s-30.3-3.2-44.2-8H432c-20.4 0-39.2 5.9-55.7 15.4 24.4 26.3 39.7 61.2 39.7 99.8v38.4c0 2.2-.5 4.3-.6 6.4H592c26.5 0 48-21.5 48-48 0-61.9-50.1-112-112-112z" style="fill: #fff;"></path></svg>
            </span>
            <span class="menu-text">Users</span>
          <% end %>
        </li>

          <li aria-haspopup="true" class="menu-item mb-4 <%= sidebar_class('events', ['index', 'new', 'edit']) %>">
            <%= link_to "", class: "menu-link" do %>
              <span class="svg-icon menu-icon">
                <svg width="29" height="26" viewBox="0 0 29 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                  <path d="M4.83333 6.44445C5.47063 6.44445 6.09361 6.25547 6.6235 5.9014C7.1534 5.54734 7.5664 5.0441 7.81028 4.45531C8.05416 3.86653 8.11797 3.21865 7.99364 2.5936C7.86931 1.96855 7.56242 1.3944 7.11179 0.943769C6.66115 0.493133 6.08701 0.186246 5.46196 0.0619155C4.83691 -0.0624146 4.18903 0.00139613 3.60024 0.245279C3.01146 0.489161 2.50822 0.902161 2.15415 1.43205C1.80009 1.96194 1.61111 2.58493 1.61111 3.22222C1.61111 4.07681 1.95059 4.8964 2.55488 5.50068C3.15916 6.10496 3.97875 6.44445 4.83333 6.44445ZM4.83333 15.3096C4.83262 15.0085 4.89312 14.7104 5.01118 14.4335C5.12923 14.1565 5.30237 13.9064 5.52007 13.6985L9.15162 10.2708C9.23469 10.1928 9.34142 10.1545 9.43406 10.0911C9.19712 9.49127 8.78541 8.97649 8.25232 8.61353C7.71923 8.25056 7.08937 8.05617 6.44444 8.05556H3.22222C2.36764 8.05556 1.54805 8.39504 0.943767 8.99932C0.339483 9.60361 0 10.4232 0 11.2778L0 16.1111C0 16.5384 0.169742 16.9482 0.471884 17.2503C0.774025 17.5525 1.18382 17.7222 1.61111 17.7222V24.1667C1.61111 24.594 1.78085 25.0038 2.08299 25.3059C2.38514 25.608 2.79493 25.7778 3.22222 25.7778H6.44444C6.87174 25.7778 7.28153 25.608 7.58367 25.3059C7.88581 25.0038 8.05556 24.594 8.05556 24.1667V19.3137L5.52007 16.9207C5.3023 16.7128 5.12912 16.4627 5.01106 16.1857C4.89299 15.9088 4.83253 15.6107 4.83333 15.3096V15.3096ZM24.1667 6.44445C24.804 6.44445 25.4269 6.25547 25.9568 5.9014C26.4867 5.54734 26.8997 5.0441 27.1436 4.45531C27.3875 3.86653 27.4513 3.21865 27.327 2.5936C27.2026 1.96855 26.8958 1.3944 26.4451 0.943769C25.9945 0.493133 25.4203 0.186246 24.7953 0.0619155C24.1702 -0.0624146 23.5224 0.00139613 22.9336 0.245279C22.3448 0.489161 21.8416 0.902161 21.4875 1.43205C21.1334 1.96194 20.9444 2.58493 20.9444 3.22222C20.9444 4.07681 21.2839 4.8964 21.8882 5.50068C22.4925 6.10496 23.3121 6.44445 24.1667 6.44445ZM25.7778 8.05556H22.5556C21.9107 8.05613 21.2809 8.25045 20.7478 8.61332C20.2147 8.97619 19.803 9.49086 19.5659 10.0906C19.6586 10.1545 19.7673 10.1913 19.8489 10.2713L23.4799 13.698C23.697 13.9064 23.8696 14.1566 23.9876 14.4335C24.1056 14.7103 24.1664 15.0081 24.1664 15.3091C24.1664 15.61 24.1056 15.9079 23.9876 16.1847C23.8696 16.4616 23.697 16.7117 23.4799 16.9202L20.9444 19.3142V24.1667C20.9444 24.594 21.1142 25.0038 21.4163 25.3059C21.7185 25.608 22.1283 25.7778 22.5556 25.7778H25.7778C26.2051 25.7778 26.6149 25.608 26.917 25.3059C27.2191 25.0038 27.3889 24.594 27.3889 24.1667V17.7222C27.8162 17.7222 28.226 17.5525 28.5281 17.2503C28.8303 16.9482 29 16.5384 29 16.1111V11.2778C29 10.4232 28.6605 9.60361 28.0562 8.99932C27.4519 8.39504 26.6324 8.05556 25.7778 8.05556V8.05556ZM22.3743 14.8696L18.7433 11.4429C18.6576 11.3612 18.5497 11.3065 18.4332 11.2856C18.3166 11.2646 18.1965 11.2784 18.0877 11.3252C17.979 11.372 17.8863 11.4497 17.8213 11.5487C17.7563 11.6476 17.7219 11.7635 17.7222 11.8819V13.6944H11.2778V11.8819C11.2782 11.7635 11.2438 11.6475 11.1789 11.5485C11.1139 11.4494 11.0213 11.3716 10.9125 11.3248C10.8037 11.2779 10.6835 11.2641 10.5669 11.285C10.4503 11.306 10.3425 11.3607 10.2567 11.4424L6.62569 14.8696C6.50963 14.9865 6.4445 15.1446 6.4445 15.3093C6.4445 15.4741 6.50963 15.6322 6.62569 15.7491L10.2567 19.1763C10.3425 19.258 10.4504 19.3128 10.5671 19.3337C10.6837 19.3546 10.8039 19.3407 10.9127 19.2938C11.0216 19.2469 11.1142 19.169 11.1791 19.0699C11.244 18.9708 11.2783 18.8547 11.2778 18.7362V16.9167H17.7222V18.7362C17.7217 18.8547 17.756 18.9708 17.8209 19.0699C17.8858 19.169 17.9784 19.2469 18.0873 19.2938C18.1961 19.3407 18.3163 19.3546 18.4329 19.3337C18.5496 19.3128 18.6575 19.258 18.7433 19.1763L22.3743 15.7491C22.4904 15.6322 22.5555 15.4741 22.5555 15.3093C22.5555 15.1446 22.4904 14.9865 22.3743 14.8696V14.8696Z" fill="white" style="fill:#fff;"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="29" height="25.7778" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>

              </span>
              <span class="menu-text">Events</span>
            <% end %>
          </li>

          <li aria-haspopup="true" class="menu-item mb-4 <%= sidebar_class('announcements', ['index', 'new', 'edit']) %>">
            <%= link_to "", class: "menu-link" do %>
              <span class="svg-icon menu-icon">
                <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                  <path d="M28 12.1111C28 10.9624 27.3705 9.97029 26.4444 9.43168V2.0005C26.4444 1.57515 26.1051 0.444458 24.8889 0.444458C24.5428 0.444458 24.1991 0.560152 23.9176 0.785708L19.7842 4.09272C17.7081 5.75231 15.1015 6.66668 12.4444 6.66668H3.11111C1.39271 6.66668 0 8.05939 0 9.77779V14.4445C0 16.1629 1.39271 17.5556 3.11111 17.5556H4.74931C4.68174 18.065 4.64333 18.5832 4.64333 19.1111C4.64333 21.0444 5.09347 22.8712 5.88583 24.504C6.13813 25.0237 6.68889 25.3333 7.26639 25.3333H10.8772C12.1435 25.3333 12.9038 23.8828 12.1363 22.8756C11.339 21.8295 10.8651 20.5247 10.8651 19.1111C10.8651 18.5711 10.9438 18.0519 11.0794 17.5556H12.4444C15.1015 17.5556 17.7081 18.4699 19.7838 20.1295L23.9172 23.4365C24.1928 23.6571 24.5353 23.7775 24.8884 23.7778C26.0998 23.7778 26.444 22.6704 26.444 22.2222V14.7911C27.3705 14.252 28 13.2598 28 12.1111ZM23.3333 18.9857L21.7267 17.7004C19.1017 15.6004 15.8044 14.4445 12.4444 14.4445V9.77779C15.8044 9.77779 19.1017 8.62182 21.7267 6.52182L23.3333 5.23654V18.9857Z" fill="white" style="fill: #fff;"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="28" height="24.8889" fill="white" transform="translate(0 0.444458)"/>
                  </clipPath>
                  </defs>
                </svg>

              </span>
              <span class="menu-text">Announcement</span>
            <% end %>
        </li>


        <li aria-haspopup="true" class="menu-item mb-4 <%= sidebar_class('general_settings', ['index']) %> <%= sidebar_class('sponsors', ['new', 'edit']) %>">
          <%= link_to "", class: "menu-link" do %>
            <span class="svg-icon menu-icon">
              <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.404 22.5266L21.0007 16.1234C19.7375 14.8602 17.851 14.6141 16.3308 15.3633L10.5017 9.53416V6.1384L3.50239 0.888916L0.00273407 4.38857L5.25222 11.3879H8.64798L14.4771 17.217C13.7334 18.7372 13.974 20.6237 15.2372 21.8869L21.6405 28.2901C22.4388 29.0885 23.7293 29.0885 24.5222 28.2901L27.404 25.4084C28.1968 24.61 28.1968 23.3195 27.404 22.5266V22.5266ZM18.1408 13.1924C19.6883 13.1924 21.1428 13.7939 22.2365 14.8875L23.2973 15.9484C24.1613 15.5711 24.9815 15.0461 25.6924 14.3353C27.7211 12.3065 28.4101 9.45214 27.7649 6.8602C27.6446 6.36807 27.0266 6.19855 26.6657 6.55945L22.5974 10.6278L18.8845 10.0099L18.2666 6.29698L22.3349 2.22863C22.6958 1.86773 22.5208 1.24982 22.0232 1.12405C19.4313 0.484268 16.5769 1.17326 14.5537 3.1965C12.9952 4.75494 12.2625 6.81099 12.3007 8.86157L16.7901 13.351C17.2331 13.2471 17.6924 13.1924 18.1408 13.1924ZM12.4593 17.6763L9.35885 14.5759L1.02529 22.9149C-0.341763 24.2819 -0.341763 26.4966 1.02529 27.8636C2.39234 29.2307 4.60697 29.2307 5.97402 27.8636L12.7327 21.1049C12.3172 20.0167 12.1914 18.8301 12.4593 17.6763V17.6763ZM3.50239 26.6989C2.78059 26.6989 2.19002 26.1083 2.19002 25.3865C2.19002 24.6592 2.77512 24.0741 3.50239 24.0741C4.22966 24.0741 4.81476 24.6592 4.81476 25.3865C4.81476 26.1083 4.22966 26.6989 3.50239 26.6989Z" fill="white" style="fill: #fff;"/>
              </svg>

            </span>
            <span class="menu-text">General Settings</span>
          <% end %>
        </li>




          <li aria-haspopup="true" class="menu-item mb-4">
            <%= link_to destroy_administrator_session_path, method: :delete, class: "menu-link" do %>
              <span class="svg-icon menu-icon">
                <svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.6647 11.7377L17.2065 21.1719C16.4514 22.0142 15.1423 21.4246 15.1423 20.2172V14.8263H8.29523C7.62563 14.8263 7.08692 14.2254 7.08692 13.4785V8.0876C7.08692 7.34073 7.62563 6.73987 8.29523 6.73987H15.1423V1.34893C15.1423 0.147199 16.4463 -0.44805 17.2065 0.394284L25.6647 9.82843C26.133 10.3563 26.133 11.2099 25.6647 11.7377ZM10.3091 20.8911V18.6449C10.3091 18.2742 10.0372 17.971 9.70493 17.971H5.47583C4.5847 17.971 3.86475 17.168 3.86475 16.174V5.39213C3.86475 4.39818 4.5847 3.59515 5.47583 3.59515H9.70493C10.0372 3.59515 10.3091 3.29191 10.3091 2.92129V0.675062C10.3091 0.304435 10.0372 0.00119436 9.70493 0.00119436H5.47583C2.80747 0.00119436 0.642578 2.41589 0.642578 5.39213V16.174C0.642578 19.1503 2.80747 21.5649 5.47583 21.5649H9.70493C10.0372 21.5649 10.3091 21.2617 10.3091 20.8911Z" fill="white"/>
                </svg>
              </span>
              <span class="menu-text">Logout</span>
            <% end %>
          </li>

      </ul>
      <!-- end::Menu Nav
      -->
    </div>
    <!-- end::Menu Container
    -->
  </div>
  <!-- end::Aside Menu
  -->
</div>
<!-- end::Aside
-->
